


<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="stylesheets/custom3.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
</head>
<!--
more ui & layout https://github.com/alphadsy
contribute on github : https://github.com/alphadsy/alpha-ui
-->

<body>
<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
    <!-- top nav -->
    <nav class="navbar navbar-top hidden-xs">
        <div class="container">
            <!-- left nav top -->
            <ul class="nav navbar-nav pull-left">


            </ul>
            <!-- right nav top -->
            <ul class="nav navbar-nav pull-right">
                <li><a href="/">About Us</a></li>
            </ul>
        </div>
        <div class="dividline light-grey"></div>
    </nav>
    <!-- down nav -->
    <nav class="navbar navbar-down">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" href="/profile">First Class Connect</div>
            </div>
            <ul class="nav navbar-nav  pull-right">
                <li><a href="/users/sign_out" class="">Sign Out</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/chats">Class Chats</a></li>

            </ul>

        </div>
    </nav>
</nav>
</body>

<script>


    // toggle class scroll
    $(window).scroll(function() {
        if($(this).scrollTop() > 50)
        {
            $('.navbar-trans').addClass('afterscroll');
        } else
        {
            $('.navbar-trans').removeClass('afterscroll');
        }

    });

    // demo only
    // open link in new tab without ugly target="_blank"
    $("a[href^='http']").attr("target", "_blank");

</script>
