


<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="stylesheets/custom3.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
</head>


<body>
<nav class="navbar navbar-default navbar-doublerow navbar-trans2 navbar-fixed-top">
    <!-- top nav -->
    <nav class="navbar navbar-top hidden-xs">
        <div class="container">
            <!-- left nav top -->
            <ul class="nav navbar-nav pull-left">


            </ul>
            <!-- right nav top -->
            <ul class="nav navbar-nav pull-right">
                <li><a href="/">About Us</a></li>
            </ul>
        </div>
        <div class="dividline light-grey"></div>
    </nav>
    <!-- down nav -->
    <nav class="navbar navbar-down">
        <div class="container">

            <div class="navbar-header">
                <div class="navbar-brand" href="/">First Class Connect</div>
            </div>

            <ul class="nav navbar-nav  pull-right">
                <li><a href="/register" class="">Register</a></li>
            </ul>
            <ul class="nav navbar-nav  pull-right">
                <li><a href="/" class="">Home</a></li>
            </ul>





        </div>
    </nav>
</nav>
</body>

