<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <!-- chat functions -->
    <script src="js/chat.js"></script>
    <script>
        var currentUser = <%- JSON.stringify(user) %>  // pass from back-end
        var course = {  // hardcoded for testing
            courseName: "CS146",
            courseNumber: 1,
            department: "depart1",
            section: "01"
        };
    </script>

    <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css"/>
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/chat.css"/>

</head>

<body onload="init()">
<!--display status-->
<button id="displayName"></button>
<!--chat wrapper-->
<div id="firechat-wrapper"></div>

</body>
</html>
