<!DOCTYPE html>
<html>
<head>
    <title>FCC</title>
    <meta charset="utf-8"/>

    <!-- jQuery -->
    <!--not use<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
    <!--move to local<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script src="dist/jquery-1.11.1.min.js"></script>

    <!-- Firebase -->
    <!--move to local<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>-->
    <script src="dist/firebase.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Firechat -->
    <!--move to local<link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />-->
    <link rel="stylesheet" href="css/firechat.css"/>
    <!--mod & move to local<script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>-->
    <script src="js/firechat.js"></script>

    <!-- chat functions -->
    <script src="js/chat.js"></script>
    <script>
        var currentUser = <%- JSON.stringify(user) %>  // pass from back-end
        var courses = <%- JSON.stringify(courses) %>  // pass from back-end
        var profileURL = {};
        var chatId = this.location.search.split('chatId=')[1] || "";

    </script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/chat.css"/>

    <script src="dist/jquery.loading.min.js"></script>
    <link rel="stylesheet" href="dist/loading.min.css">


    <!--navigate-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--move to local<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <link href="dist/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="dist/bootstrap.min.js"></script>
    <!--change to local<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->
    <!--not use<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <!--not use<link href="stylesheets/custom2.css" rel="stylesheet">-->

    <style>
        /* NAV */

        .profile{
            padding-top: 150px;
            background: #474c50;
            background-color: inherit;
            background-repeat: repeat-y, repeat;
            border-color: #0b0b0b;
            border-width: 10px;
        }



        body{
            background: #87aac7;
            background-image: url("https://preview.ibb.co/it0LMn/ZenBG_1.png"), url("https://image.ibb.co/bYUanS/ZenBG_2.png");
            background-repeat: repeat-y, repeat;
        }





        /*scroll effect*/
        .navbar-trans {
            background-color: #3f3f3f;
            border: none;
            transition: top 1s ease;
        }

        .navbar-trans2 {
            background-color: transparent;
            border: none;
            transition: top 1s ease;
        }

        /*double row*/
        .navbar-doublerow > .navbar{
            display: block;
            padding: 0px auto;
            margin: 0px auto;
            min-height: 25px;
        }
        .navbar-doublerow .nav{
            padding: 0px auto;
        }
        .navbar-doublerow .dividline{
            margin: 5px 100px;
            padding-top: 1px;
            background-color: inherit;
        }
        /*top nav*/
        .navbar-doublerow .navbar-top ul>li>a {
            padding: 10px auto;
            font-size: 12px;
        }
        /*down nav*/
        .navbar-doublerow .navbar-down .navbar-brand {
            padding: 0px auto;
            float: left;
            color: #fff;
            font-size: 32px;
        }
        .navbar-doublerow .navbar-down ul>li>a{
            font-size: 16px;
            color: #fff;
            transition: border-bottom .2s ease-in , transform .2s ease-in-out;
        }
        .navbar-doublerow .navbar-down ul>li>a:hover{
            border-bottom: 1px solid #fff;
            color: #fff;
        }
        .navbar-doublerow .navbar-down .dropdown{
            padding: 5px;
            color: #000;
        }
        .navbar-doublerow .navbar-down .dropdown ul>li>a,
        .navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
            color: #000;
            border-bottom: none;
        }
        .navbar-doublerow.navbar-trans.afterscroll {
            background-color: #0b0b0b;
        }
        .navbar-doublerow.navbar-trans.afterscroll {
            top:-50px;
            background-color: #0b0b0b;
        }

        .navbar-doublerow.navbar-trans2.afterscroll {

        }
        .navbar-doublerow.navbar-trans2.afterscroll {
            top:-50px;
            background-color: black;

        }
        .nav1{
            height: 35px;
            line-height: 35px;
        }


        .flex-container {
            display: flex;
            justify-content: space-between;
        }
        .flex-item {
        }
        /*text*/
        .text-white,.text-white-hover:hover{color:#fff!important}
        /*fontcolor*/
        .light-grey {color:#000!important;background-color:#E6E9ED!important}
    </style>
</head>

<body onload="init()">

<nav class="navbar blue-grey darken-3 navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
    <!-- top nav -->
    <nav class="navbar navbar-top blue-grey darken-3 hidden-xs nav1">
        <div class="container">
            <!-- left nav top -->
            <ul class="nav navbar-nav pull-left">


            </ul>
            <!-- right nav top -->
            <ul class="nav navbar-nav pull-right">
                <li><a href="/"></a></li>
            </ul>
        </div>
        <div class="dividline light-grey"></div>
    </nav>
    <!-- down nav -->
    <nav class="navbar blue-grey darken-3 navbar-down">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" href="/profile">First Class Connect</div>
            </div>
            <ul class="nav navbar-nav  pull-right">
                <li><a href="/users/sign_out" class="">Sign Out</a></li>
            </ul>
            <!--<ul class="nav navbar-nav pull-right">-->
                <!--<li><a href="/chats">Class Chats</a></li>-->

            <!--</ul>-->
            <script>

                if (chatId !== "" && getCourseName(chatId) === null)
                    this.location.href="/404";      // prevent hijack the address bar, direct to a non source url

                var currentId = chatId || courses[0].id;

                for (var i = 0; i < courses.length; i++) {
                    document.writeln("<ul class=\"nav navbar-nav  pull-right\">");
                    document.writeln("    <li><a href=\"/chats/" + courses[i].id+ "\" class=\"\">" + "");
                    if(currentId === courses[i].id)
                        document.write("<u>" + courses[i].name + "</u>");
                    else
                        document.write(courses[i].name);
                    document.writeln("</a></li>\n</ul>");
                }
            </script>
            <ul class="nav navbar-nav  pull-right hidden-xs">
                <li><a href="/my_profile" class="">My Profile</a></li>
            </ul>
        </div>
    </nav>
</nav>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<!--display status-->
<!--<div id="displayName">Loading ... </div>-->

<!--chat wrapper-->
<div id="firechat-wrapper"></div>

</body>
</html>


<script>


    // toggle class scroll
    $(window).scroll(function() {
        if($(this).scrollTop() > 50)
        {
            $('.navbar-trans').addClass('afterscroll');
        } else
        {
            $('.navbar-trans').removeClass('afterscroll');
        }

    });



</script>
