<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <form action="/submit_course" method = "post">
        Department<input name = "department" type="text">
        Course Number<input name = "courseNumber" type="text">
        Section<input name = "section" type="text">
        <input type="submit">
    </form>
</body>
</html>