<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>

</head>
<body>
    Welcome! <%- user.firstName + ' ' + user.lastName %>
    <button><a href="/upload/form">Course OCR</a></button>
    <button><a href="/chat">Chat</a></button>
    <button><a href="/users/sign_out">Sign Out</a></button>
</body>
</html>
