<!DOCTYPE html>
<html lang="en">
<head>
    <title>FCC</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="stylesheets/custom2.css" rel="stylesheet">

</head>
<body>

<%- include partials/nav3.ejs %>
<!------ Include the above in your HEAD tag ---------->

<div class="container profile">
    <div class="span3 well">
        <center>
            <a data-toggle="modal" data-target="#myModal"><img
                        src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                        name="aboutme" width="140" height="140" class="img-circle"></a>
            <h3><%= user.firstName %>  <%= user.lastName %></h3>

            <Button> Upload Image</Button>
        </center>

    </div>
    <!-- Bio -->
    <div class="span well">
        <center>

            <h3>About Me</h3>

            <p> <%= user.biography %></p>
        </center>


        <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Add a Bio</button>

        <!-- Modal -->

        <div class="modal" id="myModal" role="dialog">
            <div class="modal-dialog">
                <form method="post" action="/submit_bio">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Tell the world about yourself. </h4>
                        </div>
                        <div class="modal-body">
                            <input type="textarea" name = "bio"/>
                        </div>



                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default pull-left">Add Bio</button>
                            <button  class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

    <div class="span well">
        <center>

            <h3>Current Courses</h3>

        </center>
    </div>
    <div class="span well">
        <center>

            <h3>Past Courses</h3>

        </center>
    </div>

</div>


</body>

</html>
