<!DOCTYPE html>
<html lang="en">
<head>
    <title>FCC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="stylesheets/custom2.css" rel="stylesheet">

</head>
<body>

<%- include partials/nav3.ejs%>
<!------ Include the above in your HEAD tag ---------->

<div class="container profile">
    <div class="span3 well">
        <center>
            <a data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
            <h3><%= user.firstName%>  <%= user.lastName %></h3>
            <Button> Upload Image</Button>
        </center>

    </div>
    <!-- Bio -->
    <div class="span well">
        <center>

            <h3>About Me</h3>

        </center>
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                <Button> Edit Bio</Button>
        </p>
    </div>

    <div class="span well">
        <center>

            <h3>Current Courses</h3>

        </center>
    </div>
    <div class="span well">
        <center>

            <h3>Past Courses</h3>

        </center>
    </div>

</div>


</body>

</html>

