<!DOCTYPE html>
<html>
<head>
    <!-- <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h1>Poll Form</h1>
    <form action="/poll_submit" method = "post">
        Title <input name = "title" type="text">
        Description<textarea name="description" id="" cols="30" rows="10"></textarea>
        Option 1 <input type="text" name = "option1">
        Option 2 <input type="text" name = "option2">
        <button type = "submit">Submit</button>
    </form>
</body>
</html>