<!DOCTYPE html>
<html>
<body>
<form ref='uploadForm'
      id='uploadForm'
      action='/userPhoto'
      method='post'
      encType="multipart/form-data">
    <input type="file" name="photo" id ="photo" />
    <input type='submit' value='Upload!' />
</form>
</body>
</html>