/* USER PROFILE PAGE */

.profile{
    padding-top: 150px;
    background: #474c50;
    background-color: inherit;
    background-repeat: repeat-y, repeat;
    border-color: #0b0b0b;
    border-width: 10px;
}
.profile3{
    margin-left: 15%;
}


body{
    background: #87aac7;
    background-image: url("https://preview.ibb.co/it0LMn/ZenBG_1.png"), url("https://image.ibb.co/bYUanS/ZenBG_2.png");
    background-repeat: repeat-y, repeat;
}




.modal1-open {
    overflow: hidden;
}

.modal1 {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal1.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal1.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal1-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal1-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal1-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal1-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal1-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal1-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal1-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857px;
}

.modal1-header .close {
    margin-top: -2px;
}

.modal1-title {
    margin: 0;
    line-height: 1.42857;
}

.modal1-body {
    position: relative;
    padding: 15px;
}

.modal1-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal1-footer:before, .modal1-footer:after {
    content: " ";
    display: table;
}
.modal1-footer:after {
    clear: both;
}
.modal1-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.modal1-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal1-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal1-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal1-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal1-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal1-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal1-lg {
        width: 900px;
    }
}

